<form id="mw_listing_form" ng-submit="submitNewListingForm()" ng-controller="NewListingController">
    <div class="form-group">
        <label for="mw_listing_description">^loc_DEPARTMENT^</label>
        <select class="form-control" id="mw_listing_department" name="mw_listing_department">
            <option>Technology</option>
            <option>Operations</option>
            <option>Finance</option>
            <option>HR</option>
        </select>
    </div>

    <div class="form-group">
        <label for="mw_listing_location">^loc_LOCATION^</label>
        <select class="form-control" id="mw_listing_location" name="mw_listing_location">
            <option>London</option>
            <option>Paris</option>
            <option>Bangalore</option>
            <option>Warsaw</option>
        </select>

    </div>
    <div class="form-group">
        <label for="mw_listing_role">^loc_ROLE^</label>
        <input type="text" id="mw_listing_role" name="mw_listing_role" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="mw_listing_description">^loc_DESCRIPTION^</label>
        <input type="text" id="mw_listing_description" name="mw_listing_description" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="mw_listing_role">^loc_HM_NAME^</label>
        <input type="text" id="mw_listing_hm_name" name="mw_listing_hm_name" class="form-control" required>
    </div>    
    <div class="form-group">
        <label for="mw_listing_role">^loc_HM_EMAIL^</label>
        <input type="text" id="mw_listing_hm_email" name="mw_listing_hm_email" class="form-control" required>
    </div>   
    <div class="form-group">
        <label for="mw_listing_role">^loc_HR_NAME^</label>
        <input type="text" id="mw_listing_hr_name" name="mw_listing_hr_name" class="form-control" required>
    </div>    
    <div class="form-group">
        <label for="mw_listing_role">^loc_HR_EMAIL^</label>
        <input type="text" id="mw_listing_hr_email" name="mw_listing_hr_email" class="form-control" required>
    </div>        
    <div class="form-group">
        <label>^loc_CONTENT^</label>
        <wysiwyg layout="layout" media="homePageSettings.page_media"></wysiwyg>
    </div>

    <button type="submit" id="pb_contact_submit" class="btn btn-primary">
        <span id="pb_contact_spinner" style="display: none">
            <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;
        </span>
        ^loc_SUBMIT^
    </button>
    <div id="pb_contact_success" class="form-group" style="display: none">^loc_CONTACT_SUCCESS^</div>
    <div id="pb_contact_error" class="form-group" style="display: none">^loc_CONTACT_ERROR^</div>
    <div id="pb_contact_invalid" class="form-group" style="display: none">^loc_CONTACT_INVALID^</div>
</form>